.RetrievalResult {
    $searchHeight: 30px;
    $searchWidth: 400px;
    min-width: 800px;

    .MainContent {
        transform: translateY(-50px);
        padding: 0 50px;
        margin: 30px 0 -50px 0;
        .ImageCardWrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // margin-bottom: -10px; // 子元素有margin-bottom: 10px的设置
        }
    }
}