.Header {
    color: #101010;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin-right: 20px;

    a {
        color: #101010;
        text-decoration: none;

        &:hover {
            color: #17C0EF;
            text-decoration: none;
        }
    }

    .navBox {
        box-sizing: border-box;
        width: 100px;
        display: flex;
        justify-content: flex-end;
        .navItem {

        }
    }
    .active {
        color: #17C0EF;
    }
}

