.Selector {
    font-size: 18px;
    width: 100%;

    .series {
        margin-bottom: 38px;

        &:last-child {
            margin-bottom: 0;
        }

        .caption {
            display: inline-block;
            font-weight: bold;
            margin-right: 20px;
        }
    
        .itemWrapper {
            display: inline-block;

            .item {
                display: inline-block;
                width: 100px;
                cursor: pointer;

                &.active, &:hover {
                    color: #17C0EF;
                }
            }
        }
    }
}