.ImageCard {
    height: 200px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    img {
        height: 100%;
        width: auto;
    }
    span {
        position: absolute;
        bottom: 14px;
        left: 20px;
        color: white;
        display: none;
    }
    .mask {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 40%;
        width: 100%;
        background-image: linear-gradient(rgba(255,255,255,0), rgba(150,150,150,1));
        display: none;
    }
}
.ImageCard:hover {
    box-shadow: 10px 10px 5px 10px #ccc inset; // 水平阴影的长度, 垂直阴影的长度, 阴影的模糊值, 水平阴影的外延值, 阴影的颜色, 此值为空，默认为外阴影，设置成inset为内阴影
    span {
        display: block;
    }
    .mask {
        display: inline-block;
    }
}