.AccountPageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px auto;

    .background {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        background: url("../../Static/Account/background.png") no-repeat center;
        background-size: cover;
    }

    .contentWrapper {
        z-index: 1;
        border: 1px solid #BBB;
        width: 1000px;
        height: 600px;
        padding: 30px 45px;
        margin: 57px 10px;
        display: flex;
        justify-content: space-between;

        .imageWrapper {
            width: 570px;

            .image {
                // margin-top: 20px;
                height: 460px;
                background: url("../../Static/Account/sideImage.png") no-repeat center;
                background-size: contain;
            }
        }

        .childrenWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 690px;
        }
    }
}